.footer {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 4rem;
  gap: 0.5rem;
}

.footer > nav > ul {
  display: flex;
  gap: 0.5rem;
  font-size: 12px;

  color: #958d83;
}

.footer > nav > ul > li > a {
  font-weight: 500;
}

.footer > nav > ul > li > a:hover {
  color: white;
}

.footer > h5 {
  font-size: 12px;
  font-weight: 500;
  color: #958d83;
}

.footer > .social-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer > .social-download > .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > .social-download > .social img {
  width: 30px;
  height: 30px;
}

.footer > .social-download > .download {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer > .social-download > .download img {
  height: 40px;
}
